$themeColor: rgb(33, 99, 214);
$themeLighterColor: rgb(25, 109, 154);

@import "./sharedMixin";
@import "./utilies";
@import "./keyframes";
@import "./home/index";
@import "./movie_tv/index";
@import "./person/index";
@import "./loading";
@import "./search";
@import "./carousel";
@import "./video";
@import "./review";
@import "./pagination";

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  padding: 50px 0 50px 0;
  position: relative;
}

#mainContainer {
  background-color: rgb(230, 230, 243);
  min-height: 100vh;
}

.navbar {
  background-color: $themeColor;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  a {
    @include anchor-white;
  }
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $themeColor;
  color: white;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  span,
  a {
    margin-right: 6px;
    @include anchor-white;
  }
}

.videoWrapper,
.carouselWrapper {
  padding-top: 16px;
}

#topPicture {
  display: flex;
  padding: 10px;
  border-radius: 10px;
  background-color: $themeLighterColor;
  color: white;
  img {
    width: 80px;
  }
  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      text-decoration: none;
      color: white;
    }
  }
}
